@model IEnumerable<WebsiteBanThucAnNhanh18.ViewModels.CartVM>
@{
    ViewData["Title"] = "Chi tiêt";   
}


<div class="card">
    <div class="card-body">
        <div class="container mb-5 mt-3">
            <div class="row d-flex align-items-baseline">
                <div class="col-xl-9">
                    <p style="color: #7e8d9f;font-size: 20px;">Mã đơn hàng >> <strong># @ViewBag.OrderID</strong></p>
                </div>
                <div class="col-xl-3 float-end">
                    <a data-mdb-ripple-init class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark">
                        <i class="fas fa-print text-primary"></i> In
                    </a>
                   
                </div>
                <hr>
            </div>

            <div class="container">
                <div class="col-md-12">
                    <div class="text-center">
                       @* <i class="fab fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i>*@
                        <p class="pt-0">Gà gán POPEYES</p>
                    </div>

                </div>


                <div class="row">
                    <div class="col-xl-8">
                        <ul class="list-unstyled">
                            <li class="text-muted">Tên tài khoản: <span>@ViewBag.UserName</span></li>
                            <li class="text-muted">Tên khách hàng: <span style="color:#5d9fc5 ;">@ViewBag.FullName</span></li>
                            <li class="text-muted">Điện thoại <i class="fas fa-phone"></i>: @ViewBag.Phone </li>
                            <li class="text-muted">Địa chỉ: @ViewBag.Address</li>
                            <li class="text-muted">Ghi chú: @ViewBag.Note</li>
                            
                        </ul>
                    </div>
                    <div class="col-xl-4">
                        <p class="text-muted">Hóa đơn</p>
                        <ul class="list-unstyled">
                            <li class="text-muted">
                                <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">ID:</span>#@ViewBag.OrderID
                            </li>
                            <li class="text-muted">
                                <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">Ngày đặt hàng: </span> @ViewBag.OrderDate.ToString()
                            </li>
                            <li class="text-muted">
                                @*<i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="me-1 fw-bold">Tình trạng: </span><span class="badge bg-warning text-black fw-bold">
                                    @ViewBag.Status
                                </span>*@
                                <i class="fas fa-circle" style="color:
                                   @switch(ViewBag.Status)
                                   {
                                            case "pending":
                                                <text>gray</text>
                                    ; /* xám */
                                                break;
                                            case "processing":
                                                <text>#007bff</text>
                                    ; /* xanh dương */
                                                break;
                                            case "canceled":
                                                <text>#dc3545</text>
                                    ; /* đỏ */
                                                break;
                                            case "delivering":
                                                <text>#ffc107</text>
                                    ; /*  cam */
                                                break;
                                            case "paid":
                                                <text>#28a745</text>
                                    ; /* xanh lá */
                                                break;
                                            default:
                                                <text>black</text>
                              
                                                break;
                                        }">
                                 </i>
                                <span class="me-1 fw-bold">Tình trạng: </span>
                                <span class="badge fw-bold" style="background-color:
                                      @switch(ViewBag.Status)
                                      {
                                        case "pending":
                                            <text>gray</text>
                                ; /*  xám */
                                            break;
                                        case "processing":
                                            <text>#007bff</text>
                                ; /* xanh dương */
                                            break;
                                        case "canceled":
                                            <text>#dc3545</text>
                                ; /* đỏ */
                                            break;
                                        case "delivering":
                                            <text>#ffc107</text>
                                ; /*  cam */
                                            break;
                                        case "paid":
                                            <text>#28a745</text>
                                ; /* xanh lá */
                                            break;
                                        default:
                                            <text>black</text>
                                ; /*  mặc định */
                                            break;
                                    };">
                                    @ViewBag.Status
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row my-2 mx-1 justify-content-center">
                    <table class="table table-striped table-borderless">
                        <thead style="background-color: orange ;" class="text-white">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tên món</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">1</th>
                                    <td>@item.TenDa</td>
                                    <td>@item.SoLuong</td>
                                    <td>@string.Format("{0:#,0}",item.Gia)</td>
                                    <td>@string.Format("{0:#,0}",item.ThanhTien)</td>
                                </tr>
                            }
                           
                           
                        </tbody>

                    </table>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <p class="ms-3"> </p>

                    </div>
                    <div class="col-l-3">
                        <p class="text-black text-end" style="margin-right: 200px;">
                            <span class="text-black me-3"> Mã giảm đã được áp dụng</span><span style="font-size: 20px;"> @string.Format("{0:#,0}", @ViewBag.Discount?? 0) VND</span>
                        </p>
                    </div>
                    <div class="col-xl-8">
                        <p class="ms-3"> </p>

                    </div>
                    <div class="col-xl-3">
                        <p class="text-black float-start">
                            <span class="text-black me-3"> Tổng tiền</span><span style="font-size: 25px;"> @string.Format("{0:#,0}", @ViewBag.Total) VND</span>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xl-10">
                        <p>Cảm ơn vì đã mua hàng!</p>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>